name = "{{ blueprint_name }}"
description = "{{ blueprint_description }}"
version = "{{ blueprint_version }}"
distro = "{{ blueprint_host_distro }}"

[customizations]
hostname = "{{ blueprint_host_name }}"

[customizations.locale]
languages = ["en_US.UTF-8"]
keyboard = "us"

[customizations.timezone]
timezone = "{{ blueprint_ntp_timezone }}"
ntpservers = ["{{ blueprint_ntp_servers | map('quote') | join('\", \"') }}"]

[[customizations.user]]
name = "{{ blueprint_host_user_name }}"
password = "{{ blueprint_host_user_pass }}"
key = "{{ blueprint_host_ssh_pubkey }}"
home = "/home/{{ blueprint_host_user_name }}"
shell = "/usr/bin/bash"
groups = ["ssh-users", "users", "wheel"]
uid = 1001
gid = 1001

[[customizations.group]]
name = "ssh-users"
gid = 2000

{% for package in blueprint_host_packages %}
[[packages]]
name = "{{ package }}"

{% endfor %}

[[customizations.files]]
path = "/usr/local/bin/custom_first_boot.sh"
mode = "0755"
data = """
#!/bin/bash

# Disable SELinux
sed -i 's/enforcing/disabled/g' /etc/selinux/config
"""

[[customizations.files]]
path = "/etc/systemd/system/custom-first-boot.service"
data = """
[Unit]
ConditionPathExists=/usr/local/bin/custom_first_boot.sh
Wants=network-online.target
After=network-online.target
After=osbuild-first-boot.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/custom_first_boot.sh
ExecStartPost=mv /usr/local/bin/custom_first_boot.sh /usr/local/bin/custom_first_boot.sh.bak

[Install]
WantedBy=multi-user.target
"""

[customizations.services]
enabled = ["custom-first-boot"]